// Border Utility Classes
// --------------------------------------------------

.b-none {
  border: none;
}

.b-red {
  border: 1px solid $red;
}

.b-orange {
  border: 1px solid $orange;
}

.b-yellow {
  border: 1px solid $yellow;
}

.b-green {
  border: 1px solid $green;
}

.b-blue {
  border: 1px solid $blue;
}

.b-navy {
  border: 1px solid $navy;
}

.b-purple {
  border: 1px solid $purple;
}

.b-black {
  border: 1px solid $black;
}

.b-white {
  border: 1px solid $white;
}

.b-gray {
  border: 1px solid $gray;
}
