// Color Utliity Classes
// --------------------------------------------------

// Text color
.red {
  color: $red;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.navy {
  color: $navy;
}

.purple {
  color: $purple;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

// Background color
.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.bg-navy {
  background-color: $navy;
}

.bg-pruple {
  background-color: $purple;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-gray {
  background-color: $gray;
}
