// Color Utility Classes
// --------------------------------------------------

// Text color
.red,
.red:hover {
  color: $red;
}

.orange,
.orange:hover {
  color: $orange;
}

.yellow,
.yellow:hover {
  color: $yellow;
}

.green,
.green:hover {
  color: $green;
}

.blue,
.blue:hover {
  color: $blue;
}

.navy,
.navy:hover {
  color: $navy;
}

.purple,
.purple:hover {
  color: $purple;
}

.black,
.black:hover {
  color: $black;
}

.white,
.white:hover {
  color: $white;
}

.gray,
.gray:hover {
  color: $gray;
}

// Background color
.bg-red,
.bg-red:hover {
  background-color: $red;
}

.bg-orange,
.bg-orange:hover {
  background-color: $orange;
}

.bg-yellow,
.bg-yellow:hover {
  background-color: $yellow;
}

.bg-green,
.bg-green:hover {
  background-color: $green;
}

.bg-blue,
.bg-blue:hover {
  background-color: $blue;
}

.bg-navy,
.bg-navy:hover {
  background-color: $navy;
}

.bg-purple,
.bg-purple:hover {
  background-color: $purple;
}

.bg-black,
.bg-black:hover {
  background-color: $black;
}

.bg-white,
.bg-white:hover {
  background-color: $white;
}

.bg-gray,
.bg-gray:hover {
  background-color: $gray;
}
