// Font Size Utility Classes
// --------------------------------------------------

// General sizes
.fs-0 {
  font-size: 0;
}

@for $i from 1 through 9 {
  .fs-#{$i} {
    font-size: nth($sizes, $i + 1);
  }
}

// HTML element sizes
.fs-h1 {
  font-size: $size-h1;
}

.fs-h2 {
  font-size: $size-h2;
}

.fs-h3 {
  font-size: $size-h3;
}

.fs-h4 {
  font-size: $size-h4;
}

.fs-h5 {
  font-size: $size-h5;
}

.fs-h6 {
  font-size: $size-h6;
}

.fs-body {
  font-size: $size-body;
}
