// Margin Utility Classes
// --------------------------------------------------

// Four side margin utilities
.m-auto {
  margin: auto;
}

@for $i from 1 through 10 {
  .m-#{$i - 1},
  .m-#{$i - 1}:hover {
    margin: nth($sizes, $i);
  }
}

// X margin
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 10 {
  .mx-#{$i - 1},
  .mx-#{$i - 1}:hover {
    margin-left: nth($sizes, $i);
    margin-right: nth($sizes, $i);
  }
}

// Y margin
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@for $i from 1 through 10 {
  .my-#{$i - 1},
  .my-#{$i - 1}:hover {
    margin-top: nth($sizes, $i);
    margin-bottom: nth($sizes, $i);
  }
}

// Top margin
.mt-auto {
  margin-top: auto;
}

@for $i from 1 through 10 {
  .mt-#{$i - 1},
  .mt-#{$i - 1}:hover {
    margin-top: nth($sizes, $i);
  }
}

// Bottom margin
.mb-auto {
  margin-bottom: auto;
}

@for $i from 1 through 10 {
  .mb-#{$i - 1},
  .mb-#{$i - 1}:hover {
    margin-bottom: nth($sizes, $i);
  }
}

// Left margin
.ml-auto {
  margin-left: auto;
}

@for $i from 1 through 10 {
  .ml-#{$i - 1},
  .ml-#{$i - 1}:hover {
    margin-left: nth($sizes, $i);
  }
}

// Right margin
.mr-auto {
  margin-right: auto;
}

@for $i from 1 through 10 {
  .mr-#{$i - 1},
  .mr-#{$i - 1}:hover {
    margin-right: nth($sizes, $i);
  }
}
