// Padding Utility Classes
// --------------------------------------------------

// Four side padding utilities
.p-auto {
  padding: auto;
}

@for $i from 1 through 10 {
  .p-#{$i - 1},
  .p-#{$i - 1}:hover {
    padding: nth($sizes, $i);
  }
}

// X padding
.px-auto {
  padding-left: auto;
  padding-right: auto;
}

@for $i from 1 through 10 {
  .px-#{$i - 1},
  .px-#{$i - 1}:hover {
    padding-left: nth($sizes, $i);
    padding-right: nth($sizes, $i);
  }
}

// Y padding
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

@for $i from 1 through 10 {
  .py-#{$i - 1},
  .py-#{$i - 1}:hover {
    padding-top: nth($sizes, $i);
    padding-bottom: nth($sizes, $i);
  }
}

// Top padding
.pt-auto {
  padding-top: auto;
}

@for $i from 1 through 10 {
  .pt-#{$i - 1},
  .pt-#{$i - 1}:hover {
    padding-top: nth($sizes, $i);
  }
}

// Bottom padding
.pb-auto {
  padding-bottom: auto;
}

@for $i from 1 through 10 {
  .pb-#{$i - 1},
  .pb-#{$i - 1}:hover {
    padding-bottom: nth($sizes, $i);
  }
}

// Left padding
.pl-auto {
  padding-left: auto;
}

@for $i from 1 through 10 {
  .pl-#{$i - 1},
  .pl-#{$i - 1}:hover {
    padding-left: nth($sizes, $i);
  }
}

// Right padding
.pr-auto {
  padding-right: auto;
}

@for $i from 1 through 10 {
  .pr-#{$i - 1},
  .pr-#{$i - 1}:hover {
    padding-right: nth($sizes, $i);
  }
}
