// Typography Utility Classes
// --------------------------------------------------

.td-none {
  text-decoration: none;
}

.td-underline {
  text-decoration: underline;
}

.td-overline {
  text-decoration: overline;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fs-italic {
  font-style: italic;
}
