// Colors
// --------------------------------------------------

// White, grays, and black
$gray: #dfdfdf;
$gray-dark: #cfcfcf;
$gray-light: #f1f1f1;
$black: #000;
$white: #fff;

// Red
$red: #ff3b30;

// Orange
$orange: #ff851a;

// Yellow
$yellow: #ffdc00;

// Green
$green: #0aff74;

// Blue
$blue: #4797ff;
$blue-dark: darken($blue, 10%);
$blue-light: lighten($blue, 10%);

// Navy
$navy: #002142;

// Purple
$purple: #ba0bd4;
