// Variables
// --------------------------------------------------

// Font families
$header-font: "geomanist", Arial, sans-serif;
$body-font: "Inter", Arial, sans-serif;
$monospace-font: "PT Mono", monospace;

// Font sizes
$size-h1: 4rem;
$size-h2: 3.8rem;
$size-h3: 3.6rem;
$size-h4: 3.4rem;
$size-h5: 3.2rem;
$size-h6: 3rem;
$size-body: 1.6rem;

// Rem Sizes
$size-0: 0;
$size-1: 0.5rem;
$size-2: 0.75rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 2rem;
$size-6: 3rem;
$size-7: 4rem;
$size-8: 5rem;
$size-9: 10rem;

// Sizes
$sizes: $size-0 $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8
  $size-9;
